singularity.cacheDir = "../singularity-images/"

profiles {
    
    heroes-aws {
        
        


    }


    singularity {
        singularity.enabled = true
        process.container = 'of-7.sif'
        params.containerDir = "motorBike"
        singularity.runOptions = '-B /data/motorBike:/data/motorBike'
        //singularity.engineOptions = '--debug'
    }
}